<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->


  <li>
    <a href="http://dissem.in/r/6231/laurent-gatto" itemprop="sameAs">
      <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> dissem.in
    </a>
  </li>

  <li>
    <a href="https://orcid.org/0000-0002-1520-2268" itemprop="sameAs">
      <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> ORCID
    </a>
  </li>

  <li>
    <a href="https://scholar.google.co.uk/citations?user=k5DrB74AAAAJ&hl=en" itemprop="sameAs">
      <i class="fa fa-fw fa-google" aria-hidden="true"></i> scholar
    </a>
  </li>

  <li>
    <a href="https://impactstory.org/u/0000-0002-1520-2268" itemprop="sameAs">
      <i class="fa fa-fw fa-sun-o" aria-hidden="true"></i> Impactstory
    </a>
  </li>
